//! **************************************************************************
// Written by: Map P.68d on Mon Apr 30 15:29:17 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iRX" LOCATE = SITE "A21" LEVEL 1;
COMP "oTX" LOCATE = SITE "A20" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "iCTS" LOCATE = SITE "A19" LEVEL 1;
COMP "oRTS" LOCATE = SITE "B20" LEVEL 1;
COMP "iPARITY_EN_SW" LOCATE = SITE "V24" LEVEL 1;
COMP "iPARITY_SW" LOCATE = SITE "U20" LEVEL 1;
COMP "inRST" LOCATE = SITE "AB24" LEVEL 1;
COMP "iHANDSHAKE_EN_SW" LOCATE = SITE "U19" LEVEL 1;
COMP "iDATA_BIT_SW<0>" LOCATE = SITE "U23" LEVEL 1;
COMP "iDATA_BIT_SW<1>" LOCATE = SITE "U24" LEVEL 1;
COMP "oLED_DATA<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "oLED_DATA<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "oLED_DATA<2>" LOCATE = SITE "M24" LEVEL 1;
COMP "oLED_DATA<3>" LOCATE = SITE "L24" LEVEL 1;
COMP "oLED_DATA<4>" LOCATE = SITE "L23" LEVEL 1;
COMP "oLED_DATA<5>" LOCATE = SITE "K24" LEVEL 1;
COMP "oLED_DATA<6>" LOCATE = SITE "H24" LEVEL 1;
COMP "oLED_DATA<7>" LOCATE = SITE "D24" LEVEL 1;
COMP "iBAUD_SW<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "iBAUD_SW<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "iBAUD_SW<2>" LOCATE = SITE "K19" LEVEL 1;
SCHEMATIC END;

