//! **************************************************************************
// Written by: Map P.68d on Mon Jun 25 14:38:02 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iRX" LOCATE = SITE "A21" LEVEL 1;
COMP "oTX" LOCATE = SITE "A20" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "iCTS" LOCATE = SITE "A19" LEVEL 1;
COMP "oRTS" LOCATE = SITE "B20" LEVEL 1;
COMP "iPARITY_EN_SW" LOCATE = SITE "V24" LEVEL 1;
COMP "iPARITY_SW" LOCATE = SITE "U20" LEVEL 1;
COMP "inRST" LOCATE = SITE "AB24" LEVEL 1;
COMP "iHANDSHAKE_EN_SW" LOCATE = SITE "U19" LEVEL 1;
COMP "iDATA_BIT_SW<0>" LOCATE = SITE "U23" LEVEL 1;
COMP "iDATA_BIT_SW<1>" LOCATE = SITE "U24" LEVEL 1;
COMP "oLED_DATA<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "oLED_DATA<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "oLED_DATA<2>" LOCATE = SITE "M24" LEVEL 1;
COMP "oLED_DATA<3>" LOCATE = SITE "L24" LEVEL 1;
COMP "oLED_DATA<4>" LOCATE = SITE "L23" LEVEL 1;
COMP "oLED_DATA<5>" LOCATE = SITE "K24" LEVEL 1;
COMP "oLED_DATA<6>" LOCATE = SITE "H24" LEVEL 1;
COMP "oLED_DATA<7>" LOCATE = SITE "D24" LEVEL 1;
COMP "iBAUD_SW<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "iBAUD_SW<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "iBAUD_SW<2>" LOCATE = SITE "K19" LEVEL 1;
TIMEGRP eDCM24_TO_50MHz_clkfx = BEL "sRECV_DATA_REG_0" BEL "sRECV_DATA_REG_1"
        BEL "sRECV_DATA_REG_2" BEL "sRECV_DATA_REG_3" BEL "sRECV_DATA_REG_4"
        BEL "sRECV_DATA_REG_5" BEL "sRECV_DATA_REG_6" BEL "sRECV_DATA_REG_7"
        BEL "sCURRENT_STATE_FSM_FFd2" BEL "sCURRENT_STATE_FSM_FFd1" BEL
        "eDCM24_TO_50MHz/clkout1_buf" BEL
        "eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd1" BEL
        "eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd2" BEL
        "eUART/eUART_RECIVER/sDATA_CNT_2" BEL
        "eUART/eUART_RECIVER/sDATA_CNT_1" BEL
        "eUART/eUART_RECIVER/sDATA_CNT_0" BEL
        "eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd3" BEL
        "eUART/eUART_RECIVER/sDATA_BIT_REG_1" BEL
        "eUART/eUART_RECIVER/sDATA_BIT_REG_0" BEL
        "eUART/eUART_RECIVER/sSHW_REG_8" BEL "eUART/eUART_RECIVER/sSHW_REG_7"
        BEL "eUART/eUART_RECIVER/sSHW_REG_6" BEL
        "eUART/eUART_RECIVER/sSHW_REG_5" BEL "eUART/eUART_RECIVER/sSHW_REG_4"
        BEL "eUART/eUART_RECIVER/sSHW_REG_3" BEL
        "eUART/eUART_RECIVER/sSHW_REG_2" BEL "eUART/eUART_RECIVER/sSHW_REG_1"
        BEL "eUART/eUART_RECIVER/sSHW_REG_0" BEL
        "eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd2" BEL
        "eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd3" BEL
        "eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd1" BEL
        "eUART/eUART_TRANSMITTER/sDATA_CNT_2" BEL
        "eUART/eUART_TRANSMITTER/sDATA_CNT_1" BEL
        "eUART/eUART_TRANSMITTER/sDATA_CNT_0" BEL
        "eUART/eUART_TRANSMITTER/sTC_CNT_3" BEL
        "eUART/eUART_TRANSMITTER/sTC_CNT_2" BEL
        "eUART/eUART_TRANSMITTER/sTC_CNT_1" BEL
        "eUART/eUART_TRANSMITTER/sDATA_BIT_REG_1" BEL
        "eUART/eUART_TRANSMITTER/sDATA_BIT_REG_0" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_7" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_6" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_5" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_4" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_3" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_2" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_1" BEL
        "eUART/eUART_TRANSMITTER/sPARITY_REG_0" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_7" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_6" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_5" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_4" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_3" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_2" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_1" BEL
        "eUART/eUART_TRANSMITTER/sSHW_REG_0" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_10" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_9" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_8" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_7" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_6" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_5" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_4" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_3" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_2" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_1" BEL
        "eUART/eBAUD_FREQ_DIV/sCLK_CNT_0" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_10" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_9" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_8" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_7" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_6" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_5" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_4" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_3" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_2" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_1" BEL
        "eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_0" BEL
        "eUART/eSEND_FIFO/sRD_PTR_4" BEL "eUART/eSEND_FIFO/sRD_PTR_3" BEL
        "eUART/eSEND_FIFO/sRD_PTR_2" BEL "eUART/eSEND_FIFO/sRD_PTR_1" BEL
        "eUART/eSEND_FIFO/sRD_PTR_0" BEL "eUART/eSEND_FIFO/sWR_PTR_4" BEL
        "eUART/eSEND_FIFO/sWR_PTR_3" BEL "eUART/eSEND_FIFO/sWR_PTR_2" BEL
        "eUART/eSEND_FIFO/sWR_PTR_1" BEL "eUART/eSEND_FIFO/sWR_PTR_0" BEL
        "eUART/eSEND_FIFO/sFIFO_15_7" BEL "eUART/eSEND_FIFO/sFIFO_15_6" BEL
        "eUART/eSEND_FIFO/sFIFO_15_5" BEL "eUART/eSEND_FIFO/sFIFO_15_4" BEL
        "eUART/eSEND_FIFO/sFIFO_15_3" BEL "eUART/eSEND_FIFO/sFIFO_15_2" BEL
        "eUART/eSEND_FIFO/sFIFO_15_1" BEL "eUART/eSEND_FIFO/sFIFO_15_0" BEL
        "eUART/eSEND_FIFO/sFIFO_0_7" BEL "eUART/eSEND_FIFO/sFIFO_0_6" BEL
        "eUART/eSEND_FIFO/sFIFO_0_5" BEL "eUART/eSEND_FIFO/sFIFO_0_4" BEL
        "eUART/eSEND_FIFO/sFIFO_0_3" BEL "eUART/eSEND_FIFO/sFIFO_0_2" BEL
        "eUART/eSEND_FIFO/sFIFO_0_1" BEL "eUART/eSEND_FIFO/sFIFO_0_0" BEL
        "eUART/eSEND_FIFO/sFIFO_1_7" BEL "eUART/eSEND_FIFO/sFIFO_1_6" BEL
        "eUART/eSEND_FIFO/sFIFO_1_5" BEL "eUART/eSEND_FIFO/sFIFO_1_4" BEL
        "eUART/eSEND_FIFO/sFIFO_1_3" BEL "eUART/eSEND_FIFO/sFIFO_1_2" BEL
        "eUART/eSEND_FIFO/sFIFO_1_1" BEL "eUART/eSEND_FIFO/sFIFO_1_0" BEL
        "eUART/eSEND_FIFO/sFIFO_2_7" BEL "eUART/eSEND_FIFO/sFIFO_2_6" BEL
        "eUART/eSEND_FIFO/sFIFO_2_5" BEL "eUART/eSEND_FIFO/sFIFO_2_4" BEL
        "eUART/eSEND_FIFO/sFIFO_2_3" BEL "eUART/eSEND_FIFO/sFIFO_2_2" BEL
        "eUART/eSEND_FIFO/sFIFO_2_1" BEL "eUART/eSEND_FIFO/sFIFO_2_0" BEL
        "eUART/eSEND_FIFO/sFIFO_4_7" BEL "eUART/eSEND_FIFO/sFIFO_4_6" BEL
        "eUART/eSEND_FIFO/sFIFO_4_5" BEL "eUART/eSEND_FIFO/sFIFO_4_4" BEL
        "eUART/eSEND_FIFO/sFIFO_4_3" BEL "eUART/eSEND_FIFO/sFIFO_4_2" BEL
        "eUART/eSEND_FIFO/sFIFO_4_1" BEL "eUART/eSEND_FIFO/sFIFO_4_0" BEL
        "eUART/eSEND_FIFO/sFIFO_5_7" BEL "eUART/eSEND_FIFO/sFIFO_5_6" BEL
        "eUART/eSEND_FIFO/sFIFO_5_5" BEL "eUART/eSEND_FIFO/sFIFO_5_4" BEL
        "eUART/eSEND_FIFO/sFIFO_5_3" BEL "eUART/eSEND_FIFO/sFIFO_5_2" BEL
        "eUART/eSEND_FIFO/sFIFO_5_1" BEL "eUART/eSEND_FIFO/sFIFO_5_0" BEL
        "eUART/eSEND_FIFO/sFIFO_3_7" BEL "eUART/eSEND_FIFO/sFIFO_3_6" BEL
        "eUART/eSEND_FIFO/sFIFO_3_5" BEL "eUART/eSEND_FIFO/sFIFO_3_4" BEL
        "eUART/eSEND_FIFO/sFIFO_3_3" BEL "eUART/eSEND_FIFO/sFIFO_3_2" BEL
        "eUART/eSEND_FIFO/sFIFO_3_1" BEL "eUART/eSEND_FIFO/sFIFO_3_0" BEL
        "eUART/eSEND_FIFO/sFIFO_6_7" BEL "eUART/eSEND_FIFO/sFIFO_6_6" BEL
        "eUART/eSEND_FIFO/sFIFO_6_5" BEL "eUART/eSEND_FIFO/sFIFO_6_4" BEL
        "eUART/eSEND_FIFO/sFIFO_6_3" BEL "eUART/eSEND_FIFO/sFIFO_6_2" BEL
        "eUART/eSEND_FIFO/sFIFO_6_1" BEL "eUART/eSEND_FIFO/sFIFO_6_0" BEL
        "eUART/eSEND_FIFO/sFIFO_7_7" BEL "eUART/eSEND_FIFO/sFIFO_7_6" BEL
        "eUART/eSEND_FIFO/sFIFO_7_5" BEL "eUART/eSEND_FIFO/sFIFO_7_4" BEL
        "eUART/eSEND_FIFO/sFIFO_7_3" BEL "eUART/eSEND_FIFO/sFIFO_7_2" BEL
        "eUART/eSEND_FIFO/sFIFO_7_1" BEL "eUART/eSEND_FIFO/sFIFO_7_0" BEL
        "eUART/eSEND_FIFO/sFIFO_8_7" BEL "eUART/eSEND_FIFO/sFIFO_8_6" BEL
        "eUART/eSEND_FIFO/sFIFO_8_5" BEL "eUART/eSEND_FIFO/sFIFO_8_4" BEL
        "eUART/eSEND_FIFO/sFIFO_8_3" BEL "eUART/eSEND_FIFO/sFIFO_8_2" BEL
        "eUART/eSEND_FIFO/sFIFO_8_1" BEL "eUART/eSEND_FIFO/sFIFO_8_0" BEL
        "eUART/eSEND_FIFO/sFIFO_9_7" BEL "eUART/eSEND_FIFO/sFIFO_9_6" BEL
        "eUART/eSEND_FIFO/sFIFO_9_5" BEL "eUART/eSEND_FIFO/sFIFO_9_4" BEL
        "eUART/eSEND_FIFO/sFIFO_9_3" BEL "eUART/eSEND_FIFO/sFIFO_9_2" BEL
        "eUART/eSEND_FIFO/sFIFO_9_1" BEL "eUART/eSEND_FIFO/sFIFO_9_0" BEL
        "eUART/eSEND_FIFO/sFIFO_10_7" BEL "eUART/eSEND_FIFO/sFIFO_10_6" BEL
        "eUART/eSEND_FIFO/sFIFO_10_5" BEL "eUART/eSEND_FIFO/sFIFO_10_4" BEL
        "eUART/eSEND_FIFO/sFIFO_10_3" BEL "eUART/eSEND_FIFO/sFIFO_10_2" BEL
        "eUART/eSEND_FIFO/sFIFO_10_1" BEL "eUART/eSEND_FIFO/sFIFO_10_0" BEL
        "eUART/eSEND_FIFO/sFIFO_11_7" BEL "eUART/eSEND_FIFO/sFIFO_11_6" BEL
        "eUART/eSEND_FIFO/sFIFO_11_5" BEL "eUART/eSEND_FIFO/sFIFO_11_4" BEL
        "eUART/eSEND_FIFO/sFIFO_11_3" BEL "eUART/eSEND_FIFO/sFIFO_11_2" BEL
        "eUART/eSEND_FIFO/sFIFO_11_1" BEL "eUART/eSEND_FIFO/sFIFO_11_0" BEL
        "eUART/eSEND_FIFO/sFIFO_13_7" BEL "eUART/eSEND_FIFO/sFIFO_13_6" BEL
        "eUART/eSEND_FIFO/sFIFO_13_5" BEL "eUART/eSEND_FIFO/sFIFO_13_4" BEL
        "eUART/eSEND_FIFO/sFIFO_13_3" BEL "eUART/eSEND_FIFO/sFIFO_13_2" BEL
        "eUART/eSEND_FIFO/sFIFO_13_1" BEL "eUART/eSEND_FIFO/sFIFO_13_0" BEL
        "eUART/eSEND_FIFO/sFIFO_14_7" BEL "eUART/eSEND_FIFO/sFIFO_14_6" BEL
        "eUART/eSEND_FIFO/sFIFO_14_5" BEL "eUART/eSEND_FIFO/sFIFO_14_4" BEL
        "eUART/eSEND_FIFO/sFIFO_14_3" BEL "eUART/eSEND_FIFO/sFIFO_14_2" BEL
        "eUART/eSEND_FIFO/sFIFO_14_1" BEL "eUART/eSEND_FIFO/sFIFO_14_0" BEL
        "eUART/eSEND_FIFO/sFIFO_12_7" BEL "eUART/eSEND_FIFO/sFIFO_12_6" BEL
        "eUART/eSEND_FIFO/sFIFO_12_5" BEL "eUART/eSEND_FIFO/sFIFO_12_4" BEL
        "eUART/eSEND_FIFO/sFIFO_12_3" BEL "eUART/eSEND_FIFO/sFIFO_12_2" BEL
        "eUART/eSEND_FIFO/sFIFO_12_1" BEL "eUART/eSEND_FIFO/sFIFO_12_0" BEL
        "eUART/eRECV_FIFO/sRD_PTR_4" BEL "eUART/eRECV_FIFO/sRD_PTR_3" BEL
        "eUART/eRECV_FIFO/sRD_PTR_2" BEL "eUART/eRECV_FIFO/sRD_PTR_1" BEL
        "eUART/eRECV_FIFO/sRD_PTR_0" BEL "eUART/eRECV_FIFO/sWR_PTR_4" BEL
        "eUART/eRECV_FIFO/sWR_PTR_3" BEL "eUART/eRECV_FIFO/sWR_PTR_2" BEL
        "eUART/eRECV_FIFO/sWR_PTR_1" BEL "eUART/eRECV_FIFO/sWR_PTR_0" BEL
        "eUART/eRECV_FIFO/sFIFO_15_7" BEL "eUART/eRECV_FIFO/sFIFO_15_6" BEL
        "eUART/eRECV_FIFO/sFIFO_15_5" BEL "eUART/eRECV_FIFO/sFIFO_15_4" BEL
        "eUART/eRECV_FIFO/sFIFO_15_3" BEL "eUART/eRECV_FIFO/sFIFO_15_2" BEL
        "eUART/eRECV_FIFO/sFIFO_15_1" BEL "eUART/eRECV_FIFO/sFIFO_15_0" BEL
        "eUART/eRECV_FIFO/sFIFO_0_7" BEL "eUART/eRECV_FIFO/sFIFO_0_6" BEL
        "eUART/eRECV_FIFO/sFIFO_0_5" BEL "eUART/eRECV_FIFO/sFIFO_0_4" BEL
        "eUART/eRECV_FIFO/sFIFO_0_3" BEL "eUART/eRECV_FIFO/sFIFO_0_2" BEL
        "eUART/eRECV_FIFO/sFIFO_0_1" BEL "eUART/eRECV_FIFO/sFIFO_0_0" BEL
        "eUART/eRECV_FIFO/sFIFO_1_7" BEL "eUART/eRECV_FIFO/sFIFO_1_6" BEL
        "eUART/eRECV_FIFO/sFIFO_1_5" BEL "eUART/eRECV_FIFO/sFIFO_1_4" BEL
        "eUART/eRECV_FIFO/sFIFO_1_3" BEL "eUART/eRECV_FIFO/sFIFO_1_2" BEL
        "eUART/eRECV_FIFO/sFIFO_1_1" BEL "eUART/eRECV_FIFO/sFIFO_1_0" BEL
        "eUART/eRECV_FIFO/sFIFO_2_7" BEL "eUART/eRECV_FIFO/sFIFO_2_6" BEL
        "eUART/eRECV_FIFO/sFIFO_2_5" BEL "eUART/eRECV_FIFO/sFIFO_2_4" BEL
        "eUART/eRECV_FIFO/sFIFO_2_3" BEL "eUART/eRECV_FIFO/sFIFO_2_2" BEL
        "eUART/eRECV_FIFO/sFIFO_2_1" BEL "eUART/eRECV_FIFO/sFIFO_2_0" BEL
        "eUART/eRECV_FIFO/sFIFO_4_7" BEL "eUART/eRECV_FIFO/sFIFO_4_6" BEL
        "eUART/eRECV_FIFO/sFIFO_4_5" BEL "eUART/eRECV_FIFO/sFIFO_4_4" BEL
        "eUART/eRECV_FIFO/sFIFO_4_3" BEL "eUART/eRECV_FIFO/sFIFO_4_2" BEL
        "eUART/eRECV_FIFO/sFIFO_4_1" BEL "eUART/eRECV_FIFO/sFIFO_4_0" BEL
        "eUART/eRECV_FIFO/sFIFO_5_7" BEL "eUART/eRECV_FIFO/sFIFO_5_6" BEL
        "eUART/eRECV_FIFO/sFIFO_5_5" BEL "eUART/eRECV_FIFO/sFIFO_5_4" BEL
        "eUART/eRECV_FIFO/sFIFO_5_3" BEL "eUART/eRECV_FIFO/sFIFO_5_2" BEL
        "eUART/eRECV_FIFO/sFIFO_5_1" BEL "eUART/eRECV_FIFO/sFIFO_5_0" BEL
        "eUART/eRECV_FIFO/sFIFO_3_7" BEL "eUART/eRECV_FIFO/sFIFO_3_6" BEL
        "eUART/eRECV_FIFO/sFIFO_3_5" BEL "eUART/eRECV_FIFO/sFIFO_3_4" BEL
        "eUART/eRECV_FIFO/sFIFO_3_3" BEL "eUART/eRECV_FIFO/sFIFO_3_2" BEL
        "eUART/eRECV_FIFO/sFIFO_3_1" BEL "eUART/eRECV_FIFO/sFIFO_3_0" BEL
        "eUART/eRECV_FIFO/sFIFO_6_7" BEL "eUART/eRECV_FIFO/sFIFO_6_6" BEL
        "eUART/eRECV_FIFO/sFIFO_6_5" BEL "eUART/eRECV_FIFO/sFIFO_6_4" BEL
        "eUART/eRECV_FIFO/sFIFO_6_3" BEL "eUART/eRECV_FIFO/sFIFO_6_2" BEL
        "eUART/eRECV_FIFO/sFIFO_6_1" BEL "eUART/eRECV_FIFO/sFIFO_6_0" BEL
        "eUART/eRECV_FIFO/sFIFO_7_7" BEL "eUART/eRECV_FIFO/sFIFO_7_6" BEL
        "eUART/eRECV_FIFO/sFIFO_7_5" BEL "eUART/eRECV_FIFO/sFIFO_7_4" BEL
        "eUART/eRECV_FIFO/sFIFO_7_3" BEL "eUART/eRECV_FIFO/sFIFO_7_2" BEL
        "eUART/eRECV_FIFO/sFIFO_7_1" BEL "eUART/eRECV_FIFO/sFIFO_7_0" BEL
        "eUART/eRECV_FIFO/sFIFO_8_7" BEL "eUART/eRECV_FIFO/sFIFO_8_6" BEL
        "eUART/eRECV_FIFO/sFIFO_8_5" BEL "eUART/eRECV_FIFO/sFIFO_8_4" BEL
        "eUART/eRECV_FIFO/sFIFO_8_3" BEL "eUART/eRECV_FIFO/sFIFO_8_2" BEL
        "eUART/eRECV_FIFO/sFIFO_8_1" BEL "eUART/eRECV_FIFO/sFIFO_8_0" BEL
        "eUART/eRECV_FIFO/sFIFO_9_7" BEL "eUART/eRECV_FIFO/sFIFO_9_6" BEL
        "eUART/eRECV_FIFO/sFIFO_9_5" BEL "eUART/eRECV_FIFO/sFIFO_9_4" BEL
        "eUART/eRECV_FIFO/sFIFO_9_3" BEL "eUART/eRECV_FIFO/sFIFO_9_2" BEL
        "eUART/eRECV_FIFO/sFIFO_9_1" BEL "eUART/eRECV_FIFO/sFIFO_9_0" BEL
        "eUART/eRECV_FIFO/sFIFO_10_7" BEL "eUART/eRECV_FIFO/sFIFO_10_6" BEL
        "eUART/eRECV_FIFO/sFIFO_10_5" BEL "eUART/eRECV_FIFO/sFIFO_10_4" BEL
        "eUART/eRECV_FIFO/sFIFO_10_3" BEL "eUART/eRECV_FIFO/sFIFO_10_2" BEL
        "eUART/eRECV_FIFO/sFIFO_10_1" BEL "eUART/eRECV_FIFO/sFIFO_10_0" BEL
        "eUART/eRECV_FIFO/sFIFO_11_7" BEL "eUART/eRECV_FIFO/sFIFO_11_6" BEL
        "eUART/eRECV_FIFO/sFIFO_11_5" BEL "eUART/eRECV_FIFO/sFIFO_11_4" BEL
        "eUART/eRECV_FIFO/sFIFO_11_3" BEL "eUART/eRECV_FIFO/sFIFO_11_2" BEL
        "eUART/eRECV_FIFO/sFIFO_11_1" BEL "eUART/eRECV_FIFO/sFIFO_11_0" BEL
        "eUART/eRECV_FIFO/sFIFO_13_7" BEL "eUART/eRECV_FIFO/sFIFO_13_6" BEL
        "eUART/eRECV_FIFO/sFIFO_13_5" BEL "eUART/eRECV_FIFO/sFIFO_13_4" BEL
        "eUART/eRECV_FIFO/sFIFO_13_3" BEL "eUART/eRECV_FIFO/sFIFO_13_2" BEL
        "eUART/eRECV_FIFO/sFIFO_13_1" BEL "eUART/eRECV_FIFO/sFIFO_13_0" BEL
        "eUART/eRECV_FIFO/sFIFO_14_7" BEL "eUART/eRECV_FIFO/sFIFO_14_6" BEL
        "eUART/eRECV_FIFO/sFIFO_14_5" BEL "eUART/eRECV_FIFO/sFIFO_14_4" BEL
        "eUART/eRECV_FIFO/sFIFO_14_3" BEL "eUART/eRECV_FIFO/sFIFO_14_2" BEL
        "eUART/eRECV_FIFO/sFIFO_14_1" BEL "eUART/eRECV_FIFO/sFIFO_14_0" BEL
        "eUART/eRECV_FIFO/sFIFO_12_7" BEL "eUART/eRECV_FIFO/sFIFO_12_6" BEL
        "eUART/eRECV_FIFO/sFIFO_12_5" BEL "eUART/eRECV_FIFO/sFIFO_12_4" BEL
        "eUART/eRECV_FIFO/sFIFO_12_3" BEL "eUART/eRECV_FIFO/sFIFO_12_2" BEL
        "eUART/eRECV_FIFO/sFIFO_12_1" BEL "eUART/eRECV_FIFO/sFIFO_12_0" BEL
        "eUART/eSEND_FIFO/sFULL" BEL "eUART/eSEND_FIFO/sEMPTY" BEL
        "eUART/eRECV_FIFO/sFULL" BEL "eUART/eRECV_FIFO/sEMPTY" BEL
        "eUART/eUART_TRANSMITTER/sTC_CNT_0" BEL
        "eUART/eUART_RECIVER/sTC_CNT_2" BEL "eUART/eUART_RECIVER/sTC_CNT_1"
        BEL "eUART/eUART_RECIVER/sTC_CNT_0" BEL
        "eUART/eUART_RECIVER/sTC_CNT_3";
PIN SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0> = BEL "SP6_BUFIO_INSERT_ML_BUFIO2_0"
        PINNAME DIVCLK;
PIN eDCM24_TO_50MHz/dcm_sp_inst_pins<2> = BEL "eDCM24_TO_50MHz/dcm_sp_inst"
        PINNAME CLKIN;
TIMEGRP iCLK = PIN "SP6_BUFIO_INSERT_ML_BUFIO2_0_pins<0>" PIN
        "eDCM24_TO_50MHz/dcm_sp_inst_pins<2>";
TS_ClkIn = PERIOD TIMEGRP "iCLK" 20 ns HIGH 50%;
TS_eDCM24_TO_50MHz_clkfx = PERIOD TIMEGRP "eDCM24_TO_50MHz_clkfx" TS_ClkIn /
        2.08333333 HIGH 50%;
SCHEMATIC END;

