//! **************************************************************************
// Written by: Map P.68d on Mon Jun 18 14:12:46 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iRX" LOCATE = SITE "A21" LEVEL 1;
COMP "oTX" LOCATE = SITE "A20" LEVEL 1;
COMP "ioLCD_D<0>" LOCATE = SITE "W18" LEVEL 1;
COMP "ioLCD_D<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "ioLCD_D<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "ioLCD_D<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "iCTS" LOCATE = SITE "A19" LEVEL 1;
COMP "oRTS" LOCATE = SITE "B20" LEVEL 1;
COMP "oLED<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "oLED<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "oLED<2>" LOCATE = SITE "M24" LEVEL 1;
COMP "oLED<3>" LOCATE = SITE "L24" LEVEL 1;
COMP "oLED<4>" LOCATE = SITE "L23" LEVEL 1;
COMP "oLED<5>" LOCATE = SITE "K24" LEVEL 1;
COMP "oLED<6>" LOCATE = SITE "H24" LEVEL 1;
COMP "oLED<7>" LOCATE = SITE "D24" LEVEL 1;
COMP "oLCD_RS" LOCATE = SITE "F24" LEVEL 1;
COMP "oLCD_RW" LOCATE = SITE "C21" LEVEL 1;
COMP "iPARITY_EN_SW" LOCATE = SITE "V24" LEVEL 1;
COMP "iPARITY_SW" LOCATE = SITE "U20" LEVEL 1;
COMP "inRST" LOCATE = SITE "AB24" LEVEL 1;
COMP "iHANDSHAKE_EN_SW" LOCATE = SITE "U19" LEVEL 1;
COMP "oLCD_E" LOCATE = SITE "D21" LEVEL 1;
COMP "iDATA_BIT_SW<0>" LOCATE = SITE "U23" LEVEL 1;
COMP "iDATA_BIT_SW<1>" LOCATE = SITE "U24" LEVEL 1;
COMP "iBAUD_SW<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "iBAUD_SW<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "iBAUD_SW<2>" LOCATE = SITE "K19" LEVEL 1;
SCHEMATIC END;

