//! **************************************************************************
// Written by: Map P.68d on Tue Jul 10 09:48:36 2018
//! **************************************************************************

SCHEMATIC START;
COMP "iRX" LOCATE = SITE "A21" LEVEL 1;
COMP "oTX" LOCATE = SITE "A20" LEVEL 1;
COMP "ioLCD_D<0>" LOCATE = SITE "W18" LEVEL 1;
COMP "ioLCD_D<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "ioLCD_D<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "ioLCD_D<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "iCTS" LOCATE = SITE "A19" LEVEL 1;
COMP "oRTS" LOCATE = SITE "B20" LEVEL 1;
COMP "oLED<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "oLED<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "oLED<2>" LOCATE = SITE "M24" LEVEL 1;
COMP "oLED<3>" LOCATE = SITE "L24" LEVEL 1;
COMP "oLED<4>" LOCATE = SITE "L23" LEVEL 1;
COMP "oLED<5>" LOCATE = SITE "K24" LEVEL 1;
COMP "oLED<6>" LOCATE = SITE "H24" LEVEL 1;
COMP "oLED<7>" LOCATE = SITE "D24" LEVEL 1;
COMP "oLCD_RS" LOCATE = SITE "F24" LEVEL 1;
COMP "oLCD_RW" LOCATE = SITE "C21" LEVEL 1;
COMP "iPARITY_EN_SW" LOCATE = SITE "V24" LEVEL 1;
COMP "iPARITY_SW" LOCATE = SITE "U20" LEVEL 1;
COMP "inRST" LOCATE = SITE "AB24" LEVEL 1;
COMP "iHANDSHAKE_EN_SW" LOCATE = SITE "U19" LEVEL 1;
COMP "oLCD_E" LOCATE = SITE "D21" LEVEL 1;
COMP "iDATA_BIT_SW<0>" LOCATE = SITE "U23" LEVEL 1;
COMP "iDATA_BIT_SW<1>" LOCATE = SITE "U24" LEVEL 1;
COMP "iBAUD_SW<0>" LOCATE = SITE "W19" LEVEL 1;
COMP "iBAUD_SW<1>" LOCATE = SITE "Y24" LEVEL 1;
COMP "iBAUD_SW<2>" LOCATE = SITE "K19" LEVEL 1;
TIMEGRP sCLK = BEL "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd1" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd2" BEL "eLCD_DRIVER/sBYTE_EN_CNT_2"
        BEL "eLCD_DRIVER/sBYTE_EN_CNT_1" BEL "eLCD_DRIVER/sBYTE_EN_CNT_0" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd3" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd4" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd6" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd7" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd5" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd8" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd9" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd11" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd12" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd10" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd14" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd15" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd13" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd17" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd18" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd16" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd19" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd20" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd22" BEL "eLCD_DRIVER/sSEQ_CNT_2"
        BEL "eLCD_DRIVER/sSEQ_CNT_1" BEL "eLCD_DRIVER/sSEQ_CNT_0" BEL
        "eLCD_DRIVER/sCURRENT_STATE_FSM_FFd21" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_21" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_20" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_19" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_18" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_17" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_16" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_15" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_14" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_13" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_12" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_11" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_10" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_9" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_8" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_7" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_6" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_5" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_4" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_3" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_2" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_1" BEL
        "eLCD_DRIVER/eLCD_INIT_TIMER/sCLK_CNT_0" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_13" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_12" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_11" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_10" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_9" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_8" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_7" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_6" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_5" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_4" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_3" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_2" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_1" BEL
        "eLCD_DRIVER/eLCD_CMD_TIMER/sCLK_CNT_0" BEL "eLCD_DRIVER/sCHAR_CNT_5"
        BEL "eLCD_DRIVER/sCHAR_CNT_4" BEL "eLCD_DRIVER/sCHAR_CNT_3" BEL
        "eLCD_DRIVER/sCHAR_CNT_2" BEL "eLCD_DRIVER/sCHAR_CNT_1" BEL
        "eLCD_DRIVER/sCHAR_CNT_0" BEL "eLCD_DRIVER/sMODE_FF" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd21" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd22" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd26" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_EDGE_DET/sCURRENT_STATE_FSM_FFd3"
        BEL "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_EDGE_DET/sCURRENT_STATE_FSM_FFd2"
        BEL "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd8" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd9" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd10" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd11" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd12" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd13" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd14" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd15" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd16" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd17" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd18" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd19" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd20" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd23" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd24" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd25" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd27" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd28" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd29" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sCURRENT_STATE_FSM_FFd30" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eCLK_FREQ_DIV/sCLK_CNT_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eCLK_FREQ_DIV/sCLK_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eCLK_FREQ_DIV/sCLK_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eCLK_FREQ_DIV/sCLK_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eCLK_FREQ_DIV/sCLK_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sBYTE_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sTR_PERIOD_CNT_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sTR_PERIOD_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sTR_PERIOD_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sTR_PERIOD_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sTR_PERIOD_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_BYTE_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sPERIOD_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sPERIOD_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sPERIOD_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sPERIOD_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sDATA_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sISHW_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sOSHW_REG_0" BEL
        "eI2C_SLAVE/eSDA_FEDGE_DET/sCURRENT_STATE_FSM_FFd1" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd1" BEL
        "eI2C_SLAVE/eCLK_FREQ_DIV/sCLK_CNT_4" BEL
        "eI2C_SLAVE/eCLK_FREQ_DIV/sCLK_CNT_3" BEL
        "eI2C_SLAVE/eCLK_FREQ_DIV/sCLK_CNT_2" BEL
        "eI2C_SLAVE/eCLK_FREQ_DIV/sCLK_CNT_1" BEL
        "eI2C_SLAVE/eCLK_FREQ_DIV/sCLK_CNT_0" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd3" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd4" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd2" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd6" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd7" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd5" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd9" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd10" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd8" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd12" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd13" BEL
        "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd11" BEL
        "eI2C_SLAVE/eSDA_FEDGE_DET/sCURRENT_STATE_FSM_FFd2" BEL
        "eI2C_SLAVE/eSCL_REDGE_DET/sCURRENT_STATE_FSM_FFd2" BEL
        "eI2C_SLAVE/eSDA_REDGE_DET/sCURRENT_STATE_FSM_FFd2" BEL
        "eI2C_SLAVE/eSDA_REDGE_DET/sCURRENT_STATE_FSM_FFd3" BEL
        "eI2C_SLAVE/eSCL_REDGE_DET/sCURRENT_STATE_FSM_FFd3" BEL
        "eI2C_SLAVE/sPERIOD_CNT_3" BEL "eI2C_SLAVE/sPERIOD_CNT_2" BEL
        "eI2C_SLAVE/sPERIOD_CNT_1" BEL "eI2C_SLAVE/sPERIOD_CNT_0" BEL
        "eI2C_SLAVE/sRSTART_PERIOD_CNT_3" BEL
        "eI2C_SLAVE/sRSTART_PERIOD_CNT_2" BEL
        "eI2C_SLAVE/sRSTART_PERIOD_CNT_1" BEL
        "eI2C_SLAVE/sRSTART_PERIOD_CNT_0" BEL "eI2C_SLAVE/sTR_PERIOD_CNT_4"
        BEL "eI2C_SLAVE/sTR_PERIOD_CNT_3" BEL "eI2C_SLAVE/sTR_PERIOD_CNT_2"
        BEL "eI2C_SLAVE/sTR_PERIOD_CNT_1" BEL "eI2C_SLAVE/sTR_PERIOD_CNT_0"
        BEL "eI2C_SLAVE/sDATA_CNT_3" BEL "eI2C_SLAVE/sDATA_CNT_2" BEL
        "eI2C_SLAVE/sDATA_CNT_1" BEL "eI2C_SLAVE/sDATA_CNT_0" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[0].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[1].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[2].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[3].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[4].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[5].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[6].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[7].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[8].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[9].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[10].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[11].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[12].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[13].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[14].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_0" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_1" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_2" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_3" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_4" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_5" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_6" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_7" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_8" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_9" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_10" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_11" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_12" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_13" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_14" BEL
        "eI2C_SLAVE/reg_gen[15].eSLAVE_REG/sREG_15" BEL
        "eI2C_SLAVE/sOSHW_REG_7" BEL "eI2C_SLAVE/sOSHW_REG_6" BEL
        "eI2C_SLAVE/sOSHW_REG_5" BEL "eI2C_SLAVE/sOSHW_REG_4" BEL
        "eI2C_SLAVE/sOSHW_REG_3" BEL "eI2C_SLAVE/sOSHW_REG_2" BEL
        "eI2C_SLAVE/sOSHW_REG_1" BEL "eI2C_SLAVE/sOSHW_REG_0" BEL
        "eI2C_SLAVE/sADDR_REG_3" BEL "eI2C_SLAVE/sADDR_REG_2" BEL
        "eI2C_SLAVE/sADDR_REG_1" BEL "eI2C_SLAVE/sADDR_REG_0" BEL
        "eI2C_SLAVE/sISHW_REG_7" BEL "eI2C_SLAVE/sISHW_REG_6" BEL
        "eI2C_SLAVE/sISHW_REG_5" BEL "eI2C_SLAVE/sISHW_REG_4" BEL
        "eI2C_SLAVE/sISHW_REG_3" BEL "eI2C_SLAVE/sISHW_REG_2" BEL
        "eI2C_SLAVE/sISHW_REG_1" BEL "eI2C_SLAVE/sISHW_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sDATA_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sDATA_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sDATA_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sCURRENT_STATE_FSM_FFd3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sDATA_BIT_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sDATA_BIT_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_8" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sSHW_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sCURRENT_STATE_FSM_FFd1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sDATA_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sDATA_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sDATA_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sTC_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sTC_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sTC_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sDATA_BIT_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sDATA_BIT_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sPARITY_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sSHW_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_10" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_9" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_8" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_7" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_6" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_5" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_4" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sCLK_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_10" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_9" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_8" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_7" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_6" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_5" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_4" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_3" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_2" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_1" BEL
        "eUART_I2C_BRIDGE/eUART/eBAUD_FREQ_DIV/sBAUD_RATE_REG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sRD_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sRD_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sRD_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sRD_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sWR_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sWR_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sWR_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sWR_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_15_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_0_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_1_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_2_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_4_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_5_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_3_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_6_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_7_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_8_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_9_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_10_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_11_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_13_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_14_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFIFO_12_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sRD_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sRD_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sRD_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sRD_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sWR_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sWR_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sWR_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sWR_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_15_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_0_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_1_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_2_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_4_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_5_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_3_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_6_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_7_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_8_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_9_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_10_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_11_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_13_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_14_0" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_7" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_6" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_5" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_4" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_3" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_2" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_1" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFIFO_12_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sRD_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sRD_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sRD_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sRD_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sWR_PTR_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sWR_PTR_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sWR_PTR_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sWR_PTR_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_15_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_0_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_1_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_2_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_4_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_5_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_3_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_6_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_7_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_8_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_9_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_10_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_11_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_13_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_14_0" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_7" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_6" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_5" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_4" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_3" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_2" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_1" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFIFO_12_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eBYTE_NUM_REG/sREG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eREG_ADDR_REG/sREG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSLAVE_ADDR_REG/sREG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eOUT_UART_REG/sREG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_7" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_6" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_5" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_4" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eIN_UART_REG/sREG_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_7" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_6" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_5" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_4" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_3" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_2" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_REG/sREG_0" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_7" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_6" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_5" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_4" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_3" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_2" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_1" BEL
        "eLCD_DRIVER/eBYTE_NUM_REG/sREG_0" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_7" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_6" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_5" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_4" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_3" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_2" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_1" BEL
        "eLCD_DRIVER/eREG_ADDR_REG/sREG_0" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_6" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_5" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_4" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_3" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_2" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_1" BEL
        "eLCD_DRIVER/eSLAVE_ADDR_REG/sREG_0" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_GEN/sPER_CNT_3" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_GEN/sPER_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_GEN/sPER_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_GEN/sPER_CNT_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sRD_PTR_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sRD_PTR_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sWR_PTR_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sWR_PTR_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_7" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_6" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_5" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_4" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_3" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_2" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_3_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_7" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_6" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_5" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_4" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_3" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_2" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_1_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_7" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_6" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_5" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_4" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_3" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_2" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_2_0" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_7" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_6" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_5" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_4" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_3" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_2" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_1" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFIFO_0_0" BEL "eLCD_DRIVER/sCHAR_BYTE"
        BEL "eUART_I2C_BRIDGE/eUART_I2C_MASTER/sACK_FF" BEL
        "eI2C_SLAVE/sBYTE_CNT_0" BEL "eI2C_SLAVE/sMODE_FF" BEL
        "eI2C_SLAVE/sACK_FF" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sFULL" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eDATA_FIFO/sEMPTY" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sFULL" BEL
        "eUART_I2C_BRIDGE/eUART/eRECV_FIFO/sEMPTY" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sFULL" BEL
        "eUART_I2C_BRIDGE/eUART/eSEND_FIFO/sEMPTY" BEL
        "eUART_I2C_BRIDGE/eUART_I2C_MASTER/eSCL_GEN/sSCL" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sEMPTY" BEL
        "eLCD_DRIVER/eDATA_BYTE_FIFO/sFULL" BEL "eLCD_DRIVER/sCMD_PER_CNT_0"
        BEL "eUART_I2C_BRIDGE/eUART/eUART_TRANSMITTER/sTC_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sTC_CNT_2" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sTC_CNT_1" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sTC_CNT_0" BEL
        "eUART_I2C_BRIDGE/eUART/eUART_RECIVER/sTC_CNT_3" BEL
        "eLCD_DRIVER/sCMD_PER_CNT_1" BEL "eI2C_SLAVE/sADDR_REG_1_1" BEL
        "eI2C_SLAVE/sADDR_REG_0_1" BEL "eI2C_SLAVE/sADDR_REG_3_1" BEL
        "eI2C_SLAVE/sADDR_REG_2_1" BEL "eI2C_SLAVE/sADDR_REG_0_2" BEL
        "eI2C_SLAVE/sADDR_REG_1_2" BEL "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd4_1"
        BEL "eI2C_SLAVE/sCURRENT_STATE_FSM_FFd1_1" BEL "eI2C_SLAVE/sMODE_FF_1"
        BEL "eI2C_SLAVE/sADDR_REG_3_2";
TS_ClkIn = PERIOD TIMEGRP "sCLK" 20 ns HIGH 50%;
SCHEMATIC END;

