NET "iCLK"  						LOC = M21;
NET "inRST"							LOC = AB24;

NET "iRX"							LOC = A21;
NET "oTX"							LOC = A20;

NET "iBAUD_SW(0)" 				LOC = W19;
NET "iBAUD_SW(1)" 				LOC = Y24;
NET "iBAUD_SW(2)" 				LOC = K19;

NET "iPARITY_EN_SW" 				LOC = V24;
NET "iPARITY_SW" 					LOC = U20;

NET "iDATA_BIT_SW(0)" 			LOC = U23;
NET "iDATA_BIT_SW(1)" 			LOC = U24;

NET "iHANDSHAKE_EN_SW"			LOC = U19;

NET "iCTS"							LOC = A19;
NET "oRTS"							LOC = B20;


NET "oLCD_E"						LOC = D21;
NET "oLCD_RS"						LOC = F24;
NET "oLCD_RW"						LOC = C21;
NET "ioLCD_D(0)"					LOC = W18;
NET "ioLCD_D(1)"					LOC = V18;
NET "ioLCD_D(2)"					LOC = D18;
NET "ioLCD_D(3)"					LOC = T18;