NET "iCLK"  					LOC = M21;
NET "inRST"						LOC = AB24;

NET "oE"							LOC = D21;
NET "oRS"						LOC = F24;
NET "oRW"						LOC = C21;
NET "ioD(0)"					LOC = W18;
NET "ioD(1)"					LOC = V18;
NET "ioD(2)"					LOC = D18;
NET "ioD(3)"					LOC = T18;				
