//! **************************************************************************
// Written by: Map P.68d on Thu Jun 07 16:52:30 2018
//! **************************************************************************

SCHEMATIC START;
COMP "inRST" LOCATE = SITE "AB24" LEVEL 1;
COMP "ioD<0>" LOCATE = SITE "W18" LEVEL 1;
COMP "ioD<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "iCLK" LOCATE = SITE "M21" LEVEL 1;
COMP "ioD<2>" LOCATE = SITE "D18" LEVEL 1;
COMP "ioD<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "oLED<0>" LOCATE = SITE "N24" LEVEL 1;
COMP "oLED<1>" LOCATE = SITE "N23" LEVEL 1;
COMP "oLED<2>" LOCATE = SITE "M24" LEVEL 1;
COMP "oLED<3>" LOCATE = SITE "L24" LEVEL 1;
COMP "oLED<4>" LOCATE = SITE "L23" LEVEL 1;
COMP "oLED<5>" LOCATE = SITE "K24" LEVEL 1;
COMP "oLED<6>" LOCATE = SITE "H24" LEVEL 1;
COMP "oLED<7>" LOCATE = SITE "D24" LEVEL 1;
COMP "oRS" LOCATE = SITE "F24" LEVEL 1;
COMP "oRW" LOCATE = SITE "C21" LEVEL 1;
COMP "oE" LOCATE = SITE "D21" LEVEL 1;
SCHEMATIC END;

