NET "iCLK"  					LOC = M21;
NET "inRST"					LOC = AB24;

NET "oE"					LOC = V18;
NET "oRS"					LOC = T18;
NET "oRW"					LOC = D18;
NET "ioD(0)"					LOC = W18;
NET "ioD(1)"					LOC = D21;
NET "ioD(2)"					LOC = C21;
NET "ioD(3)"					LOC = F24;				
