NET "iCLK"  					LOC = M21;
NET "inRST"						LOC = AB24;

NET "iEN"						LOC = AA24;
NET "iSW"						LOC = W19;
	
NET "oE"							LOC = D21;
NET "oRS"						LOC = F24;
NET "oRW"						LOC = C21;
NET "ioD(0)"					LOC = W18;
NET "ioD(1)"					LOC = V18;
NET "ioD(2)"					LOC = D18;
NET "ioD(3)"					LOC = T18;		

NET "oLED(0)" 					LOC = N24;
NET "oLED(1)" 					LOC = N23;
NET "oLED(2)" 					LOC = M24;
NET "oLED(3)" 					LOC = L24;
NET "oLED(4)" 					LOC = L23;
NET "oLED(5)" 					LOC = K24;
NET "oLED(6)" 					LOC = H24;
NET "oLED(7)" 					LOC = D24;		
